@import '../../stylesheets/colors';

.AuthenticatedNavigation .btn {
	margin-top: 10px;
	background-color: #fff;
	color: $ad-genie-lighter-blue;
	border: 1px solid $ad-genie-blue;
	border-radius: 3px;
	transition: background-color 0.5s ease;

  &:hover {
    background-color: $ad-genie-lighter-blue;
    color: #fff;
  }
}


