@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.navbar {
  position: fixed;
  z-index: 3;
  width: 100%;
  border-radius: 0;

}
.navbar.navbar-default {
	background-color: #000000;
	border: none;
}

.navbar-nav > .active > a {
  background-color: green !important;

  &:hover{
    background-color: green !important;
  }

  &:focus {
    background-color: green !important;
  }
}
