@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.navbar {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-bottom: 0px;
}
.navbar.navbar-default {
	background-color: #fff;
	border: none;
}